[submodule "ViewDeck"]
	path = ViewDeck
	url = git://github.com/Inferis/ViewDeck.git
[submodule "MCSegmentedControl"]
	path = MCSegmentedControl
	url = git://github.com/oettam/MCSegmentedControl.git
[submodule "Objective-C-HMTL-Parser"]
	path = Objective-C-HMTL-Parser
	url = git://github.com/tresni/Objective-C-HMTL-Parser.git
[submodule "RaptureXML"]
	path = RaptureXML
	url = git://github.com/ZaBlanc/RaptureXML.git
[submodule "PopoverView"]
	path = PopoverView
	url = git://github.com/runway20/PopoverView.git
[submodule "RTLabel"]
	path = RTLabel
	url = git://github.com/honcheng/RTLabel.git
[submodule "SCPageScrubberBar"]
	path = SCPageScrubberBar
	url = git://github.com/barz/SCPageScrubberBar.git
