[submodule "Objective-C-HMTL-Parser"]
	path = Objective-C-HMTL-Parser
	url = git://github.com/tresni/Objective-C-HMTL-Parser.git
[submodule "RaptureXML"]
	path = RaptureXML
	url = git://github.com/ZaBlanc/RaptureXML.git
[submodule "RTLabel"]
	path = RTLabel
	url = git://github.com/honcheng/RTLabel.git
[submodule "SCPageScrubberBar"]
	path = SCPageScrubberBar
url=git://github.com/phedlund/SCPageScrubberBar.git
[submodule "LXReorderableCollectionViewFlowLayout"]
	path = LXReorderableCollectionViewFlowLayout
	url = git://github.com/lxcid/LXReorderableCollectionViewFlowLayout.git
[submodule "uicolor-utilities"]
	path = uicolor-utilities
	url = git://github.com/erica/uicolor-utilities.git
[submodule "UAModalPanel"]
	path = UAModalPanel
	url = https://github.com/UrbanApps/UAModalPanel.git
[submodule "WyPopoverController"]
	path = WyPopoverController
	url = https://github.com/nicolaschengdev/WYPopoverController.git
[submodule "TUSafariActivity"]
	path = TUSafariActivity
	url = https://github.com/davbeck/TUSafariActivity.git
