[submodule "RaptureXML"]
	path = RaptureXML
	url = git://github.com/ZaBlanc/RaptureXML.git
[submodule "RTLabel"]
	path = RTLabel
	url = git://github.com/honcheng/RTLabel.git
[submodule "LXReorderableCollectionViewFlowLayout"]
	path = LXReorderableCollectionViewFlowLayout
	url = git://github.com/lxcid/LXReorderableCollectionViewFlowLayout.git
[submodule "UAModalPanel"]
	path = UAModalPanel
	url = https://github.com/UrbanApps/UAModalPanel.git
[submodule "TUSafariActivity"]
	path = TUSafariActivity
	url = https://github.com/davbeck/TUSafariActivity.git
[submodule "UIColor-Hex"]
	path = UIColor-Hex
	url = https://github.com/Inferis/UIColor-Hex.git
