@media only screen
and (orientation: portrait) {
    body {
        background: $BACKGROUND$;
        color:$COLOR$;
        font-size:$FONTSIZE$;
        text-align: center;
        width: $MARGIN$;
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen
and (orientation: landscape) {
    body {
        background: $BACKGROUND$;
        color:$COLOR$;
        font-size:$FONTSIZE$;
        text-align: center;
        width: $MARGIN_LANDSCAPE$;
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
    }
}

html {
    -webkit-text-size-adjust: none; /* Never autoresize text */
    -webkit-transform: translateZ(0);
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
}

h1 {
   font-family:"Arial";
   font-size:150%;
   text-align: left;
   line-height:$LINEHEIGHT$;
   clear: both;
}

h2 {
    color:#985735;
    font-family:"Arial";
    font-size:110%;
    text-align: left;
    /*margin-top:-0.8em;*/
    line-height:$LINEHEIGHT$;
}

h3 {
    color:#724128;
    font-family:"Arial";
    font-size:100%;
    text-align: left;
    line-height:$LINEHEIGHT$;
}

h4 {
    color:#724128;
    font-family:"Arial";
    font-size:80%;
    text-align: left;
    line-height:$LINEHEIGHT$;
}

p {
    font-family:"$FONT$";
    font-size:100%;
    line-height:$LINEHEIGHT$;
    text-align: justify;
    clear:both;
}

/* links always have a dark blue color */
a {
    text-decoration: none;
    color:$COLORLINK$;
}

div.sec {
    font-family:"$FONT$";
    font-size:100%;
    text-align: left;
    line-height:$LINEHEIGHT$;
    clear: both;
}

div.small {
    text-align: left;
    font-size: 80%;
}

div.table-wrap {
    text-align: left;
    font-size:80%;
}

div.fn {
    font-size:80%;
    text-align: left;
    line-height:$LINEHEIGHT$;
}

.clearfix {
    display: block;
}

table, .fig, .table, .caption {
    font-size:80%;
    line-height:$LINEHEIGHT$;
    text-align: left;
    clear: both;
    margin: 1.3846em 0px;
}

.fig-table-link {
    font-size:100%;
    text-align: left;
    line-height:$LINEHEIGHT$;
}

.icnblk_img {
    float:left;
    margin-right:20px;
}

.whole_rhythm {
    margin: 1.3846em 0px;
}

/* make sure sub and superscript don't mess up line height */
sup { 
    font-size: 75%; 
    vertical-align: super; 
    line-height: 0;
}

sub {
    font-size: 75%; 
    vertical-align: sub; 
    line-height: 0;
}

div.goto {
    display: none;
}

/* fixes abbreviation lists */
.labeled-list dt {
    float: left;
    margin-right: 0.8em;
}

.kwd-title, .kwd-text {
    text-align: left;
    font-size: 80%;
}

/* different reference list tweaks */
div.ref-cit-blk {
    margin-top: 20px;
}

#reference-list li {
    margin-top: 20px;
}

#reference-list ul {
    list-style-type: none;
}

#Author information

div.fm-authors-info {
    text-align: left;
    margin-top: 0.3em;
}

div.fm-authors-info div {
    text-align: left;
    margin-top: 0.3em;
}

div.fm-author {
    text-align: left;
}

div.fm-affl {
    text-align: left;
    font-style:italic;
}

.inline_block {
    display: inline-block;
    max-width: 100%;
}

.align_right {
    text-align: right;
}

.va_top {
    vertical-align: top;
}

.three_col {
    width: 23.9999%;
    float: right;
}

div.togglers {
    display: none;
}

.links-box {
    display: none;
}

div.ts_bar {
    display: none;
}

img {
    max-width: 100%;
    height: auto;
}
